body{
    background-image: url("../NBA-Card-Pack/uploads/wood_floors2.jpg");
    margin: 0;
    padding-bottom: 50px;
    
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.icon{
    height: 100px;
    width: 100px;
    padding-bottom: 30px;
    transition: all 1s ease-in-out;
}

.icon:hover{
  transform:scale(1.4) rotate(360deg);
}
img{
    max-width: 100%;
    height: auto;
}
#root {
    max-width: 900px;
    margin: 0 auto;
  }
  
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
.card {
    height: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 33.3%;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    background-image: url("../NBA-Card-Pack/uploads/background.PNG");
    font-family: 'Major Mono Display', monospace;
    border-radius: 5px;
}

.stats{
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(209,208,208,1) 0%, rgba(255,247,247,1) 100%);
  width:100%;
  height: auto;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 30%);
  padding-top: 50px;
  padding-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*font-family: 'DM Mono', monospace;*/
}

.card:hover{
    box-shadow: 2px 8px 45px yellow;
    transform: translate3d(0,5px,0) scale(1.05);
}

@media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
}
  
@media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
}

h1{
  margin: 0;
  margin-top:100px;
  transform: rotate(-16deg);
  color:white
}

h2{
  font-size: 20px;
  transform: rotate(-16deg);
  padding: 0;
  margin-bottom: 0;
  color: white;
}

h3{
  text-align: right;
  margin-top: 30px;
}

h4{
  text-align: right;
}

h5{
  text-align: center;
}
